	#container {
		--offset-left-min: 250px;
		--offset-left-max: 350px;
		--offset-left: 250px;
		height: 100vh;
        overflow: hidden;
		background-color: #fff;
		display: grid;
        grid-auto-rows: 100%;
		grid-template-columns: clamp(
				var(--offset-left-min),
				var(--offset-left),
				var(--offset-left-max)
			) auto;
		position: relative;
		.resizer {
			height: 100%;
			width: 6px;
			// background-color: #000;
			position: absolute;
			top: 0;
			cursor: col-resize;
			transform: translateX(-3px);
			&-left {
				left: clamp(
					var(--offset-left-min),
					var(--offset-left),
					var(--offset-left-max)
				);
			}


		}
	}